@model Rybcansky_Shop.Models.Variant

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.stock_Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.stock_Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price_Standart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price_Standart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price_Discount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price_Discount)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
