<a class="product" href="@Url.Action("Index", "Product", new { id = this.ViewBag.Product.id })">

    <img src="@("/images/" + this.ViewBag.Picture.path)" alt="Card image cap">

    <div class="product-body">
        <p>
            @ViewBag.Product.name
        </p>
        <div class="stars">
            lmao hvezdicky
        </div>
        @if (@ViewBag.Product.price_Discount == null)
        {
            <p class="price">@ViewBag.Product.price_Standart Kč</p>
        }
        else
        {
            <p class="price">@ViewBag.Product.price_Discount Kč</p>

            <p class="prev-price">@ViewBag.Product.price_Standart Kč</p>
        }
    </div>
</a>