@using Rybcansky_Shop.Controllers.Web.Carts;
@model Rybcansky_Shop.Models.Cart_Item


    <div class="item-bg">
        <h2>KOŠÍK</h2>
        <p><a asp-controller="Home" asp-action="Index">Home&emsp;></a>&emsp;Košík</p>
    </div>

    <form asp-action="Cart" asp-controller="Order" class="content-wrap">
        <div class="cart-detail">
            <span>Obrázek</span>
            <span>Název</span>
            <span>Varianta</span>
            <span>Počet</span>
            <span>Cena</span>
            <span>Celková cena</span>
            <span></span>
            @foreach (CartClass item in this.ViewBag.Data)
            {
                <span><img src="@("/images/" + @item.picture)" style="" /></span>
                <span>@item.ProductName</span>
                <span>@item.VariantName</span>
                <span>@item.quantity</span>
                <span>@((item.variantPriceDiscount == null) ? @item.variantPriceStandart : item.variantPriceDiscount) Kč</span>
                <span>@(((item.variantPriceDiscount == null) ? @item.variantPriceStandart : item.variantPriceDiscount) * item.quantity) Kč</span>
                <span><a asp-action="Delete" asp-route-id="@item.id">×</a></span>
            }
        </div>
    </form>