@model Rybcansky_Shop.Controllers.Web.Carts.FormClass

@{
    Layout = "Order_Layout";
}
<link rel="stylesheet" href="~/css/Order_Layout/order.css" />
<script src="~/js/order/order_script.js"></script>

<div class="left-grid">
    <div class="header">
        <img src="/images/debra-logo.png" alt="Alternate Text" />
        <p><a href="#">Cart&emsp;</a>>&emsp;<a href="#">Information</a>&emsp;>&emsp;<a href="#">Shipping</a>&emsp;>&emsp;Payment</p>
    </div>
    <div class="order-form">
        <div class="shippping-check-form">
            <div class="check-under-form">
                <label>Contact</label>
                <input type="text" autocomplete="off" value="@this.ViewBag.Email" disabled />
            </div>
            <hr />
            <div class="check-under-form">
                <label>Ship to</label>
                <input type="text" autocomplete="off" value="@this.ViewBag.Shipping" disabled />
            </div>
            <hr />
            <div class="check-under-form">
                <label>Method</label>
                <input type="text" autocomplete="off" value="Standart, 350 Kč" disabled />
            </div>
        </div>

        <form asp-action="FinishOrder" asp-controller="Cart">
            <h3>Payment</h3>
            <select disabled>
                <option value="" disabled selected>Select payment method</option>
                @foreach (Payment_Methods item in this.ViewBag.PaymentMethods)
                {
                    <option value="@item.id">@item.method</option>
                }
            </select>
            <br /><br />

            <h3>Billing address</h3>
            <select id="different-billing-address" onclick="DifferentBillingAddress()">
                <option value="0">Same as shipping address</option>
                <option value="1">Use a different billing address</option>
            </select>

            <div class="different-billing-address">
                <br />
                <div class="order-form">
                    <h3>Shipping address</h3>
                    <!--<div class="grid-input">
                            <input class="grid-input-left" type="text" placeholder="First name" autocomplete="off" />
                            <input class="grid-input-right" type="text" placeholder="Last name" autocomplete="off" />
                    </div>-->
                    <input asp-for="billing_Adress.address" type="text" placeholder="Address" autocomplete="off" />
                    <input asp-for="billing_Adress.appartmant" type="text" placeholder="Apartment" autocomplete="off" />
                    <div class="grid-input">
                        <div class="grid-input-left">
                            <input asp-for="billing_Adress.postal_Code" type="text" placeholder="Postal code" autocomplete="off" />
                        </div>
                        <div class="grid-input-right">
                            <input asp-for="billing_Adress.city" type="text" placeholder="City" autocomplete="off" />
                        </div>

                    </div>
                    <select asp-for="billing_Adress.country">
                        <option value="" disabled selected>Select Country</option>
                        @foreach (var item in this.ViewBag.Countries)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-buttons">
                <a href="#" class="grid-input-left">< Return to shipping</a>
                <input class="grid-input-right" type="submit" value="Continue to Complete" />
            </div>
        </form>
    </div>
</div>
<vc:right-grid-component></vc:right-grid-component>