@using Rybcansky_Shop.Controllers.Web.Blog;
@model Comment

<vc:overlay-component name="Name of article"></vc:overlay-component>

<div class="content-wrap article-detail-div">
    <div class="article-detail-left article-header">
        <h1>@this.ViewBag.Data.Article.header</h1>

        <div class="article-detail-author">
            <img class="icon" src="/images/Article-detail/user.svg" alt="Alternate Text" />
            <p>Posted by: </p>
            <span class="article-detail-author-name">@this.ViewBag.Data.Article.author</span>
            <p>| </p>
            <img class="icon" src="/images/Article-detail/calender.svg" alt="Alternate Text" />
            <p>Posted On:</p>
            <p>@this.ViewBag.Data.Article.time</p>
        </div>

        <img class="article-detail-img" src="/images/@this.ViewBag.Data.Picture.path" alt="Alternate Text" />

        <div class="blog-detail-text">
            <p>
                @this.ViewBag.Data.Article.text;
            </p>
        </div>

        <div class="blog-detail-tags">
            <hr />
            <p>Tags: </p>

            @foreach (Tag item in this.ViewBag.Data.Tags)
            {
                <a href="#">@item.text </a>
            }
            <hr />
        </div>
    </div>
    <div class="article-detail-right">
        <vc:blog-menu-component></vc:blog-menu-component>
    </div>

</div>

<div class="content-wrap contact-form blog-detail-comment">
    <form asp-action="MakeComment" asp-controller="Blog">
        <input asp-for="id_Article" type="number" value="@this.ViewBag.id" hidden/>
        <h3>Leave a comment</h3>
        <label for="comment">Comment</label>
        <textarea asp-for="text" id="comment" placeholder="Message" autocomplete="off"></textarea>
        <div class="blog-detail-name-email">
            <div class="comment-name">
                <label for="name">Name</label>
                <input asp-for="name" type="text" id="name" placeholder="Name" autocomplete="off" />
            </div>
            <div class="comment-email">
                <label for="email">Email</label>
                <input asp-for="email" type="text" id="email" placeholder="Email" autocomplete="off" />
            </div>
        </div>
        <input type="submit" value="Post Comment" />
    </form>
</div>

<div class="content-wrap comment-section">
    @foreach (Comment item in this.ViewBag.Data.Comments)
    {
        <div class="comment">
            <h4>@item.name</h4>
            <span class="comment-time">@item.time.ToLocalTime()</span>
            <p>@item.text</p>
        </div>
    }
    <vc:page-select-component></vc:page-select-component>
</div>