@using Rybcansky_Shop.Controllers.Web.Blog;

<div class="blog-bg">

</div>
<ul class="content-wrap">
    @foreach (BlogListClass item in this.ViewBag.Data)
    {
        <li>
            <img src="@("/images/" + item.Picture.path)" alt="@item.Picture.name" />
            <h2>@item.Article.header</h2>
            <p>@item.Article.author</p>
            <p>@item.Article.text</p>
        </li>
    }
</ul>