@using Rybcansky_Shop.Controllers.Web.Blog;

<vc:overlay-component name="Blog"></vc:overlay-component>

<div class="content-wrap class-layout">
    <ul>
        @foreach (BlogListClass item in this.ViewBag.Data)
        {
            <li class="blog-li">
                <a asp-action="Detail" asp-route-id="@item.Article.id"><img src="@("/images/" + item.Picture.path)" alt="@item.Picture.name" /></a>
                <a asp-action="Detail" asp-route-id="@item.Article.id">@item.Article.header</a>
                <br />
                <span>
                    @item.Article.author
                    |
                    <span class="gray-div">
                        @item.Article.time.ToLocalTime()
                    </span>
                </span>
                <hr />
                <p>@item.Article.text.Substring(0, 170)...</p>
                <div class="read-more-button">
                    <a asp-action="Detail" asp-route-id="@item.Article.id">READ MORE</a>
                </div>
            </li>
        }
    </ul>

    <div class="blog-menu-container">
        <vc:blog-menu-component></vc:blog-menu-component>
    </div>
    <vc:page-select-component></vc:page-select-component>
</div>