@{
    Layout = "Administration_Layout";
}


@model Rybcansky_Shop.Models.Product

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.price_Standart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.price_Standart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.price_Discount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.price_Discount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.vat_rate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.vat_rate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.time)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.variant_Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.variant_Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.stock_Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.stock_Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Number_Of_Picture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Number_Of_Picture)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.id_Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.id_Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.id_Vendor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.id_Vendor)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
